# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env.local
.env.development.local
.env.production.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# coverage
coverage/

# misc
*.pem

tsconfig.tsbuildinfo
